server:
  port: 8086
spring:
  application:
    name: payment-service
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/${DB_NAME:paymentdb}?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ${DB_USER:ecommerce}
    password: ${DB_PASSWORD:ecommerce}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        type:
          preferred_uuid_jdbc_type: VARCHAR
  flyway:
    enabled: true
    locations: classpath:db/migration
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
app:
  jwt:
    secret: ${JWT_SECRET:change-this-development-secret-change-this-development-secret}
springdoc:
  api-docs:
    path: /api/payments/v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
